{% extends 'padre.html' %}

{% block contenidoquecambia %}
 
<section class="contact_section ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 px-0">
        <div class="img-box">
          <img src="images/contact-img.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <div class="form_container pr-0 pr-lg-5 mr-0 mr-lg-2">
          <div class="heading_container">
            <h2>
              DEJANOS TU CONSULTA
            </h2>
          </div>
          <form action="">
            <div>
              <input type="text" placeholder="Nombre" />
            </div>
            <div>
              <input type="email" placeholder="Email" />
            </div>
            <div>
              <input type="text" placeholder="Celular" />
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Mensaje" />
            </div>
            <div class="d-flex ">
              <button>
                ENVIAR
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock contenidoquecambia %}