{% extends 'padre.html' %}

{% block contenidoquecambia %}



 <section class="contact_section ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 px-0">
        <div class="img-box">
          <img src="images/contact-img.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <div class="form_container pr-0 pr-lg-5 mr-0 mr-lg-2">
          <div class="heading_container">
            <h2>
              ¿TENES UN PROGRAMA PARA PROPONERNOS? TE LEEMOS...
            </h2>
          </div>
          <form action="{% url 'formularioprograma' %}" method="post"> {% csrf_token %}
            <table>
              {{MiFormulario_Programa.as_table}}
            </table>
          <div class="d-flex ">
              <button type="submit">
                Enviar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>






{% endblock contenidoquecambia %}