{% extends 'padre.html' %}
{% block contenidoquecambia %}
{% load static %}

<section class="section" id="our-origin">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2 style="font-size: 2.5em;">Nuestro <em>Origen</em></h2>
                    <img src="{% static 'assets/images/line-dec.png' %}" alt="">
                    <p style="font-size: 1.2em;">El nombre 'Ludus' proviene de la antigua Roma, donde se utilizaba para describir las escuelas de entrenamiento de gladiadores. En estas instituciones, los gladiadores no solo aprendían técnicas de combate, sino también valores de disciplina, superación y transformación personal.</p>
                    <p style="font-size: 1.2em;">En nuestro gimnasio, adoptamos esta filosofía para ofrecer un entorno donde cada miembro pueda superar sus propios límites, transformarse físicamente y fortalecer su carácter. Así como los gladiadores entrenaban en los ludus para prepararse para sus desafíos, nosotros te preparamos para enfrentar y conquistar tus propias metas.</p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock contenidoquecambia %}