{% extends 'padre.html' %}

{% block contenidoquecambia %}
{% load static %}

<section class="section" id="mensaje.3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2 style="font-size: 2.5em;"> {{message}} <em></em></h2>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ***** Testimonials Starts ***** -->
<section class="section" id="trainers">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Nuestros <em>Instructores</em></h2>
                    <img src="{% static 'assets/images/line-dec.png' %}" alt="">
                    <p>Son profesionales altamente capacitados y reconocidos en su rubro, lo que les permite ofrecer una experiencia de aprendizaje enriquecedora y efectiva para todos los alumnos. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="{% static 'assets/images/yoga.jpg' %}" alt="">
                    </div>
                    <div class="down-content">
                        <span>Flexibilidad</span>
                        <h4>Carol Danvers</h4>
                        <p>Experta en guiar a los alumnos hacia la calma y la flexibilidad. Con su enfoque en la respiración y la alineación, cada clase es una experiencia de transformación y bienestar.</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="{% static 'assets/images/spinning.jpg' %}" alt="">
                    </div>
                    <div class="down-content">
                        <span>Cardio</span>
                        <h4>Steve Rogers</h4>
                        <p>Es un maestro en llevar tu resistencia al siguiente nivel. Sus clases dinámicas y motivadoras te mantendrán en movimiento, mejorando tu salud cardiovascular y tu energía.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="{% static 'assets/images/zumba.jpg' %}" alt="">
                    </div>
                    <div class="down-content">
                        <span>Movimiento</span>
                        <h4>Gamora Zen Whoberi</h4>
                        <p>Sabe cómo encender la energía en cada sesión. Sus clases son una combinación perfecta de diversión y desafío, ayudándote a quemar calorías mientras te diviertes al ritmo de la música.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="{% static 'assets/images/fuerza.jpeg' %}" alt="">
                    </div>
                    <div class="down-content">
                        <span>Fuerza</span>
                        <h4>Erik Lehnsherr</h4>
                        <p>Te ayudará a alcanzar tu máximo potencial físico. Con entrenamientos variados y desafiantes, cada sesión te hará más fuerte y más resistente.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="{% static 'assets/images/kickboxing.jpeg' %}" alt="">
                    </div>
                    <div class="down-content">
                        <span>Kickboxing</span>
                        <h4>Natasha y Barton</h4>
                        <p>Son expertos en mezclar técnica y motivación. Sus clases te enseñarán no solo a mejorar tu fuerza y resistencia, sino también a ganar confianza y disciplina a través del arte del kickboxing.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Testimonials Ends ***** -->






  <!-- ***** Call to Action Start ***** -->
  <section class="section" id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <h2>¿tenes lo <em>necesario para </em>sumarte al <em>equipo</em>?</h2>
                    <p>Dejanos tus datos.</p>
                    <div class="main-button scroll-to-section">
                        <a href="">Click aquí</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Call to Action End ***** -->

{% endblock contenidoquecambia %}