{% extends 'padre.html' %}
{% block contenidoquecambia %}
{% load static %}

<section class="section" id="miembros.1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2 style="font-size: 2.5em;">Lista de  <em>Miembros</em></h2>
                    <img src="{% static 'assets/images/line-dec.png' %}" alt="">
                    <ul>
                        {% for miembro in miembros %}
                            <li>
                                {{miembro}}
                            </li>
                            <div>
                                <form action="{% url 'eliminar_miembros' miembro.id %}" method="post" style="display: inline;">{% csrf_token%}
                                    <button style="background-color: rgb(255, 102, 0); color: white; border: none; padding: 10px 20px; margin-right: 10px;" type="submit">Eliminar</button>
                                </form>
                                {% if miembro.id %}
                                    <button style="background-color: rgb(255, 102, 0); color: white; border: none; padding: 10px 20px; margin-right: 10px;"> 
                                        <a href="{% url 'editar_miembros' miembro.id %}"> Editar </a>
                                    </button>
                                {% endif %}    
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock contenidoquecambia %}