{% extends 'padre.html' %}

{% block contenidoquecambia %}
{% load static %}

<section class="section" id="mensaje.1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2 style="font-size: 2.5em;"> {{message}} <em></em></h2>
                </div>
            </div>
        </div>
    </div>
</section>



  <!-- ***** Call to Action Start ***** -->
  <section class="section" id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <h2>no <em>lo sigas pensando</em>, comenzá <em>hoy</em>!</h2>
                    <p>Es una decisión para vos y por vos.</p>
                    <div class="main-button scroll-to-section">
                        <a href="#our-classes">Conocé nuestros programas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Call to Action End ***** -->
{% endblock contenidoquecambia %}