{% extends 'padre.html' %}

{% block contenidoquecambia %}
{% load static %}

 <!-- ***** Our Classes Start ***** -->
 <section class="section" id="{% url 'programa' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Profesionales <em>Expertos</em></h2>
                    <img src="{% static 'assets/images/line-dec.png' %}" alt="">
                    <p>Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed viverra ipsum dolor, ultricies fermentum massa consequat eu.</p>
                </div>
            </div>
        </div>
        <div class="row" id="tabs">
          <div class="col-lg-4">
            <ul>
              <li><a href='#tabs-1'><img src="{$ static 'assets/images/tabs-first-icon.png' %}" alt="">Kinesiologia</a></li>
              <li><a href='#tabs-2'><img src="{$ static 'assets/images/tabs-first-icon.png' %}" alt="">Nutricionista</a></a></li>
              <div class="main-rounded-button"><a>Consultanos</a></div>
            </ul>
          </div>
          <div class="col-lg-8">
            <section class='tabs-content'>
              <article id='tabs-1'>
                <img src="{% static 'assets/images/fisiologo.jpg' %}" alt="First Class">
                <h4>Lic.  Bucky Barnes MP:5201</h4>
                <p>Experto en recuperación y optimización del rendimiento. Con una profunda comprensión tanto de la rehabilitación como de la medicina deportiva, te guiará en el camino hacia la recuperación de lesiones y el mejoramiento de tu rendimiento físico. Su enfoque integral asegura que regreses a tus actividades con mayor fuerza y confianza.</p>
                <div class="main-button">
                </div>
              </article>
              <article id='tabs-2'>
                <img src="{%  static 'assets/images/nutricionista.jpeg' %}" alt="Second Training">
                <h4>Lic. Hank MacCoy MP:3017</h4>
                <p>Te ayudará a alcanzar tus objetivos de manera saludable y sostenible. Con planes personalizados y apoyo constante, transformarás tu alimentación y tu vida.</p>
                <div class="main-button">
                 
                </section>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Our Classes End ***** -->


{% endblock contenidoquecambia %}
