{% extends 'padre.html' %}

{% block contenidoquecambia %}
{% load static %}

<style>
    .section-heading p {
        margin-bottom: 20px;
    }
    .section-heading {
        background-color: rgba(0, 0, 0, 0.5); 
        padding: 20px;
        border-radius: 10px;
    }
</style>
</head>








<section class="section" id="gabi">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading dark-bg">
                    <h2>Soy <em>GABI BARUZZO</em></h2>
                    <p>Este año me propuse insertarme en el mundo laboral tecnológico, comenzando por la rama del análisis de datos con Power BI. Después continué el curso de Data Analytics, y al finalizarlo empecé a interesarme por Python y sus múltiples usos.</p>
                    <p>Aunque inicialmente apuntaba a su uso en el manejo de bases de datos, me encontré con un desafío más que interesante de desarrollo web. Esto ha aumentado mi entusiasmo por continuar aprendiendo sobre las bases de datos en el contexto del desarrollo web.</p>
                    <p>Agradezco el tiempo, la enseñanza y cada plus de parte del profe Mauricio Cuello y los tutores, Nicolas Matias Barra Pelecano y Saúl Belbey.</p>
                    <p>Espero sea de su agrado el resultado. </p>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock contenidoquecambia %}