{% extends 'padre.html' %}

{% block contenidoquecambia %}
{% load static %}

<section class="section" id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading dark-bg">
                    <h2>Soy <em>GABI BARUZZO</em></h2>
                    <img src="{% static 'assets/images/line-dec.png' %}" alt="">
                    <p>Empece este desafio para conocer Python.</p>
                </div>
            </div>
        </div>



{% endblock contenidoquecambia %}